<a class="skip-link" href="#main">Zum Inhalt springen</a>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav aria-label="Hauptnavigation">
		<a href="#menu" id="menu-toggle" aria-controls="menu" aria-expanded="false">Menü</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu" aria-label="Menü" aria-hidden="true">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
<!-- not needed right now
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
-->
</nav>
